<!--The content below is only a placeholder and can be replaced.-->


<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>





<a href="/">
<button class="uk-button uk-button-primary"> Weather</button>
</a>
<a href="/movie">
    <button class="uk-button uk-button-secondary"> Movie</button>
</a>
<router-outlet></router-outlet>